body{
    background: #232F3F;
    color: #fff;
    padding: 0 100px;
}

.Hero{
    display: flex;
}

.Hero a{
    color: #fff;
    text-decoration: none;
}

.Menu{
    display: flex;
    flex-basis: 33%;
}

.Search{
    display: flex;
    flex-basis: 33%;
}

.Buy_Signin{
    display: flex;
    flex-basis: 33%;
}